.explanation {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.keys {
    margin-top: 0.5rem;
    text-align: right;
}

.keys p {
    margin-top: 5px;
    padding: 0;
}

.values {
    margin-top: 0.5rem;
    text-align: left;
}

.values p {
    margin-top: 5px;
    padding: 0;
    text-indent: 1em;
}