.container {
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageLink:hover {
    cursor: pointer;
    opacity: 0.8;
  }

.ears {
  width: 20%;
  max-width: 100px;
  height: calc(20% * 0.5);
  object-fit: cover;
}

.image {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.div {
  width: 100%;
  max-width: 600px;
}

.div h1 {
  margin: 0;
  padding: 0;
}

.tag {
  margin: 0;
  color: gray;
}

.description {
  margin-top: 10px;
  margin-bottom: 5px;
  text-indent: 1em;
}

@media (max-width: 768px) {
}
