.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #000;
    color: #fff;
    bottom: 0;
}

.footer p {
    margin: 10px;
}

.image {
    margin: 5px;
    margin-bottom: 0;
}