.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image {
  object-fit: contain;
  width: 30%;
  height: auto;
}

.works_data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}


@media screen and (max-width: 768px){
  .image {
    width: 50%;
  }
}